<div id="map">
    <div class="leaflet-bottom leaflet-left">
    </div>
    <div id="geolocateButton"
        class="leaflet-control leaflet-control-zoom mapButton"
        aria-label="Click this button to zoom to your location"
        (click)="zoomLocation()">
        <i class="fa fa-crosshairs w3-xlarge"
            style="text-align: center; font-size: 22px">
        </i>
    </div>
    
    <div id="geosearchButton"
        class="leaflet-control leaflet-control-zoom mapButton"
        aria-label="Click this button to geosearch"
        (click)="geosearch()">
        <i class="fa fa-search w3-xlarge"
            style="text-align: center; font-size: 22px">
        </i>
    </div>
</div>
    

