.workflow-wrapper{
	box-sizing: border-box;
	padding-bottom: 45px;
}

.usa-step-indicator{
	margin-bottom: 16px;
}
.usa-step-indicator__segment-label{
	font-size: 14px;
}


.workflow-radio-group{
	display: flex;
	box-sizing: border-box;
    padding: 5px 3px 5px 15px;

	input[type=checkbox],
	input[type=radio]{
		transform: scale(1.5);
	}

}


.horizontal-workflow-steps{
	display: flex;

	.workflow-step{
		box-sizing: border-box;
		padding: 0 35px 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		label{
			font-size: 16px;
			padding-left: 10px;
		}
	}
}