<!-- Workflow Steps/Walkthru -->
<div class="app-wrapper">
  <h3>{{workflow.title}}</h3>

  <form [formGroup]="workflowForm" (ngSubmit)="onContinue(workflowForm.value)" #data>
    <div formArrayName="steps">
      <div *ngFor='let step of getSteps(workflowForm)| slice:0:stepsCompleted+1; let i = index'>
        <div formGroupName="{{i}}">
          <h4> Step {{i+1}}: {{ step.value.label}} </h4>
          <div formArrayName="options">
            <div *ngFor="let option of getOptions(step); let j = index" formGroupName="{{j}}">

              <div style="margin-left: 40px" *ngIf="step.value.type === 'checkbox'">
                <input type="checkbox" formControlName="selected"> {{option.value.text}} 
              </div>

              <div style="margin-left: 40px" *ngIf="step.value.type === 'subscription'">
                <input type="hidden" formControlName="selected"> {{option.value.text}}
              </div>

              <div style="margin-left: 40px" *ngIf="step.value.type === 'text'">
                <input type="text" formControlName="text"> 
              </div>
              
            </div>

            <button *ngIf = "step.value.type!='subscription'" (click)="nextStep(i, step.value.type)">Next</button>

          </div>
        </div>  
      </div>
    </div>
    <br><button *ngIf="finalStep" type="submit" (click)="finishedWorkflow(workflowForm.value)">Finish</button>
  </form>

</div>

