<!-- Workflow Steps/Walkthru -->
<div class="app-wrapper">
    <p>{{workflow.title}}</p>

    <form [formGroup]="workflowForm" (ngSubmit)="onContinue(workflowForm.value)" #data>
      <div formArrayName="steps">
        <div *ngFor="let step of getSteps(workflowForm); let i = index">
          <div formGroupName="{{i}}">
            <h4> Step {{i+1}}: {{ step.value.label}} </h4>
            <div formArrayName="options">

              <div *ngFor="let option of getOptions(step); let j = index" formGroupName="{{j}}">

                <div *ngIf="step.value.type === 'checkbox'">
                  <input type="checkbox" formControlName="selected" (change)="selectedCheckbox(option.value.text)"> {{option.value.text}}
                </div>

                <div *ngIf="step.value.type === 'subscription'">
                  <input type="hidden" formControlName="selected"> {{option.value.text}}
                </div>

                <div *ngIf="step.value.type === 'text'">
                  <input type="text" formControlName="text">
                </div>
                
              </div>

            </div>
          </div>  
        </div>
      </div>
      <button type="submit">Continue</button>
    </form>

</div>
