#appWrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

#splitLayout{
	flex-grow: 3;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	height: 100%;
}

#splitLayoutLeft{
	flex-grow: 3;
	position: relative;
	transition: 0.15s;

	#viewControlButtons{
		position: absolute;
		box-sizing: border-box;
		padding-right: 0;
		top: 0;
		right: 0;
		z-index: 50;
		height: 48px;
		background-color: var(--background);
		margin-top: 1px;
		margin-bottom: 1px;

		button{
			background-color: var(--grey);
			border: none;
			height: 100%;
			font-size: 1.3em;
			padding: 0 15px;
			color: var(--textFade);
			opacity: 1;

			&.active{
				color: var(--primary);
			}

			&:hover,
			&:focus{
				opacity: 1;
				color: var(--text);
				cursor: pointer;
			}

			&:first-child{
				border-left: 1px solid var(--borderLight);
			}
		}

		// Float right on mobile
		@media (max-width: 1000px) {
			position: absolute;
			z-index: 5001;
			right: 0;
		}
	}
}

#splitLayoutRight{
	transition: var(--transition);

	@media (max-width: 1000px) {
		position: absolute;
		right: 0;
		z-index: 5000;
		height: 100%;
		background-color: var(--background);
		width: 95vw;
		max-width: 440px;
		min-width: 320px;
	}
}

// View sidebar classes
#splitLayout{
	&.wide{
		#splitLayoutRight{
			width: 66%;

			@media (max-width: 1000px) {
				max-width: 800px;
				width: 90%;
			}
		}
	}
	&.none{
		#splitLayoutRight{
			width: 0;
		}
	}
	&.visible{
		#splitLayoutRight{
			width: 33%;
		}
	}
}
