<div class="app-wrapper">

  <!-- App loading screen -->
  <app-loading-screen></app-loading-screen>

  <!-- Top bar -->
  <app-top-bar></app-top-bar>

  <!-- Middle section - left side, middle (top/bottom), right side -->
  <div class="app-center">

    <!-- Left sidebar -->
    <app-sidebar-left></app-sidebar-left>

    <!-- Middle section -->
    <div class="app-center-content">
      
      <!-- Top -->
      <app-map></app-map>

      <!-- Bottom -->
    
    </div>

    <!-- Sidebar Right -->
    <app-sidebar-right></app-sidebar-right>

  </div>


</div>




<!-- Help Modal -->
<div class="usa-modal usa-modal--lg" id="helpModal" aria-labelledby="helpModalHeading" aria-describedby="helpModalDescription">
	<div class="usa-modal__content">
		<div class="usa-modal__main">
			<h2 class="usa-modal__heading" id="helpModalHeading">
				Help
			</h2>
			<div class="usa-prose">
				<p id="helpModalDescription">
					This is the help modal
				</p>
			</div>

			<div class="usa-modal__footer">
				<ul class="usa-button-group">
					<li class="usa-button-group__item">
						<button type="button" class="usa-button" data-close-modal>
							Close
						</button>
					</li>
				</ul>
			</div>
		</div>

		<button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
			<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
				<use xlink:href="/assets/img/sprite.svg#close"></use>
			</svg>
		</button>
	</div>
</div>

<!-- About Modal -->
<div class="usa-modal usa-modal--lg" id="aboutModal" aria-labelledby="aboutModalHeading" aria-describedby="aboutModalDescription">
	<div class="usa-modal__content">
		<div class="usa-modal__main">
			<h2 class="usa-modal__heading" id="aboutModalHeading">
				About
			</h2>
			<div class="usa-prose">
				<p id="aboutModalDescription">
					This is the about modal
				</p>
			</div>
			<div class="usa-modal__footer">
				<ul class="usa-button-group">
					<li class="usa-button-group__item">
						<button type="button" class="usa-button" data-close-modal>
							Close
						</button>
					</li>
				</ul>
			</div>
		</div>
		<button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
			<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
				<use xlink:href="/assets/img/sprite.svg#close"></use>
			</svg>
		</button>
	</div>
</div>
	
	