<div id="appWrapper">

  <!-- App loading screen -->
  <app-loading-screen></app-loading-screen>

  <!-- Top bar -->
  <app-top-bar></app-top-bar>

  <!-- Split layout - map on left -->
  <div id="splitLayout" [ngClass]="sidebarView">

	<!-- Map - left side -->
	<div id="splitLayoutLeft">
		<app-map-actions></app-map-actions>
		<app-map></app-map>

		<!-- Buttons to control size of view -->
		<div id="viewControlButtons">
			<!-- Wide sidebar -->
			<button (click)="sidebarView = 'wide'" *ngIf="sidebarView == 'visible'">
				<i class="fas fa-arrow-left-to-line" alt="Expand Sidebar"></i>
			</button>
			<!-- Narrow sidebar -->
			<button (click)="sidebarView = 'visible'" *ngIf="sidebarView == 'wide'">
				<i class="fas fa-arrow-right-to-line" alt="Smaller Sidebar"></i>
			</button>
			<!-- Open sidebar - when closed -->
			<button (click)="sidebarView = 'visible'" *ngIf="sidebarView == 'none'">
				<i class="fas fa-bars" alt="Open Sidebar"></i>
			</button>
			<!-- Close sidebar - when open -->
			<button (click)="sidebarView = 'none'; closeSidebar" *ngIf="sidebarView != 'none'">
				<i class="fas fa-times" alt="Close Sidebar"></i>
			</button>
		</div>
	</div>


	<!-- Content - right side -->
	<div id="splitLayoutRight">
		<app-content-right></app-content-right>
	</div>

</div>

</div>

<div id="printArea"></div>




<!-- About & Help Modal -->
<div class="usa-modal usa-modal--lg" id="helpModal" aria-labelledby="helpModalHeading" aria-describedby="helpModalDescription">
	<div class="usa-modal__content">

		<!-- Floating close button -->
		<div class="modal-x" data-close-modal>
			<i class="fal fa-times"></i>
		</div>



		<div class="usa-modal__main">
			<h2 class="usa-modal__heading" id="helpModalHeading">
				About & Help
			</h2>

			<div class="modal-body">
				<span id="helpModalDescription">

					<p>
						StreamStats National was developed by 
						<a href="https://wim.usgs.gov/" target="_blank">USGS Web Informatics and Mapping</a>.
					</p>
					<p>
						This is a beta application and is currently under active development.
					</p>
					<p>
						Please send feedback, questions, or issues to <a href="mailto:support@streamstats.freshdesk.com">support@streamstats.freshdesk.com</a>.
					</p>
					
					<h3>About StreamStats National {{this.version}}</h3>
					<p>
						StreamStats National is a web-based Geographic Information Systems (GIS) application that provides users with 
						access to analytical tools that are useful for a variety of purposes, including water-resources planning, 
						management, engineering, and design. StreamStats National users can select from a variety of workflows to access 
						and analyze nation-wide data from the United States Geological Survey (USGS).
					</p>
					<h3>Get Started</h3>
					<p>
						Click the “Report Builder” button to select a workflow. The “Delineation” workflow allows users to delineate a 
						watershed at a selected point via the 
						<a href="https://labs.waterdata.usgs.gov/about-nldi/index.html" target="_blank">Hydro Network-Linked Data Index 
						(NLDI)</a> system. The “Fire Hydrology” workflow allows users to query fire perimeters, trace flowlines from fire 
						perimeters, compute basin characteristics, and estimate post-fire peak discharge. Once a workflow is complete, 
						click the Report icon to view the results.
					</p>
					<h3>USGS Data Disclaimer</h3>
					<p>
						Unless otherwise stated, all data, metadata and related materials are considered to satisfy the quality standards relative to the purpose for which the data were collected. Although these data and associated metadata have been reviewed for accuracy and completeness and approved for release by the U.S. Geological Survey (USGS), no warranty expressed or implied is made regarding the display or utility of the data for other purposes, nor on all computer systems, nor shall the act of distribution constitute any such warranty.
					</p>
					<h3>USGS Software Disclaimer</h3>
					<p>
						This software has been approved for release by the U.S. Geological Survey (USGS). Although the software has been subjected to rigorous review, the USGS reserves the right to update the software as needed pursuant to further analysis and review. No warranty, expressed or implied, is made by the USGS or the U.S. Government as to the functionality of the software and related material nor shall the fact of release constitute any such warranty. Furthermore, the software is released on condition that neither the USGS nor the U.S. Government shall be held liable for any damages resulting from its authorized or unauthorized use.
					</p>
					<h3>USGS Product Names Disclaimer</h3>
					<p>
						Any use of trade, firm, or product names is for descriptive purposes only and does not imply endorsement by the U.S. Government.
					</p>
					<p>
						This web application has been made possible by several open-source projects, including:
					</p>
					<p>Project: <a href="https://angular.io/" target="_blank">Angular</a>
						<br>Copyright (c) 2010-2022 Google LLC.
						<br>License (<a href="https://angular.io/license" target="_blank">MIT</a>)
					</p>
					<p>Project: <a href="https://leafletjs.com/" target="_blank">Leaflet</a>
						<br>Copyright (c) 2010-2022, Vladimir Agafonkin
						<br>Copyright (c) 2010-2011, CloudMade
						<br>All rights reserved.
						<br>License (<a href="https://github.com/Leaflet/Leaflet/blob/main/LICENSE" target="_blank">BSD 2-Clause</a>)
					</p>

				</span>


			<div class="usa-modal__footer">
				<ul class="usa-button-group">
					<li class="usa-button-group__item">
						<button type="button" class="usa-button usa-button--outline" data-close-modal>
							Close Popup
						</button>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>
