<div class="app-wrapper">

  <!-- App loading screen -->
  <app-loading-screen></app-loading-screen>

  <!-- Top bar -->
  <app-top-bar></app-top-bar>

  <!-- Middle section - left side, middle (top/bottom), right side -->
  <div class="app-center">

    <!-- Left sidebar -->
    <app-sidebar-left></app-sidebar-left>

    <!-- Middle section -->
    <div class="app-center-content">
      
      <!-- Top -->
      <app-map></app-map>

      <!-- Bottom -->
    
    </div>

    <!-- Sidebar Right -->
    <app-sidebar-right></app-sidebar-right>

  </div>
</div>