<div class="sidebar-inner">
	<!-- Base Maps -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'map' ? popout = '' : popout = 'map'" [ngClass]="{'active': popout == 'map'}">
			<i class="far fa-map"></i>
		</button>

		<!-- Sidebar Popout window
			- These could be moved to separate components,
			It just needs to be a div with class sidebar-popout within the sidebar-group div
	
			Add class "wide" to make it wider,
			Height will auto expand to fit content, and scroll if too tall
		-->
		<div class="sidebar-popout" *ngIf="popout == 'map'">
			<h3 class="sidebar-popout-header">Base Maps</h3>
	
			<!-- Content must be within .sidebar-popout-content to have overflow scroll -->
			<div class="sidebar-popout-content">
				<!-- This is the content of the map button popout window.
				<br/>
				Show and hide the map content with a click on the button.sidebar-button
				<br/><br/><br/><br/><br/><br/><br/><br/>
				If you have too much content in the map popout, <br> It'll scroll. -->

				<div *ngFor="let item of baselayers" class="basemap-selector"> 
					<label class="basemap-option">
						<input type="radio" name="basemap" value="item.name" (click)="SetBaselayer(item.name)">
						<img src="../assets/images/{{item.img}}"> {{item.name}}
					</label>
				</div>
			</div>
		</div>

	</div>

	<!-- Layers -->
	<div class="sidebar-group">

		<button class="sidebar-button" (click)="popout == 'layers' ? popout = '' : popout = 'layers'" [ngClass]="{'active': popout == 'layers'}">
			<i class="far fa-layer-group"></i>
		</button>

		<!-- Sidebar Popout window -->
		<div class="sidebar-popout wide" *ngIf="popout == 'layers'">
			<h3 class="sidebar-popout-header">Map Layers (Wide popout)</h3>
	
			<!-- Content must be within .sidebar-popout-content to have overflow scroll -->
			<div class="sidebar-popout-content">
				This is the content of the map layers button popout window.
				<br/>
				Show and hide the map layers button with a click on the button.sidebar-button
				<br/><br/><br/><br/><br/><br/>
				If you have too much content in the map layers, it'll scroll.

				
			</div>
		</div>
	</div>

	
	
	<!-- Dog -->
	<!-- <div class="sidebar-group">
		<button class="sidebar-button">
			<i class="far fa-dog"></i>
		</button>
	</div> -->

	<!-- Geolocate -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="zoomLocation()">
			<i class="far fa-crosshairs"></i>
		</button>
	</div>

	<!-- Geosearch -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'geosearch' ? popout = '' : popout = 'geosearch'; geosearch();" [ngClass]="{'active': popout == 'geosearch'}">
			<i class="far fa-search"></i>
		</button>

		<!-- Sidebar Popout window
			- These could be moved to separate components,
			It just needs to be a div with class sidebar-popout within the sidebar-group div
	
			Add class "wide" to make it wider,
			Height will auto expand to fit content, and scroll if too tall
		-->
		<div class="sidebar-popout medium" *ngIf="popout == 'geosearch'">
			<h3 class="sidebar-popout-header">Geosearch</h3>
	
			<!-- Content must be within .sidebar-popout-content to have overflow scroll -->
			<div class="sidebar-popout-content">
				<!-- This is the content of the map button popout window.
				<br/>
				Show and hide the map content with a click on the button.sidebar-button
				<br/><br/><br/><br/><br/><br/><br/><br/>
				If you have too much content in the map popout, <br> It'll scroll. -->

				<!-- Search box -->
				<div id="searchBox"></div>

			</div>
		</div>

	</div>

	<!-- Spacer - stretches to fill gap -->
	<div class="sidebar-spacer"></div>

	<!-- Discover -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'discover' ? popout = '' : popout = 'discover'" [ngClass]="{'active': popout == 'discover'}">
			<span class="sb-text">Discover</span>
		</button>
		
		<!-- Discover window -->
		<div class="sidebar-popout full at-bottom" *ngIf="popout == 'discover'">
			<h3 class="sidebar-popout-header">Choose your Workflows</h3>

			<!-- Content must be within .sidebar-popout-content to have overflow scroll -->
			<div class="vertical-tabs">
				<!-- Icon tabs -->
				<div class="v-tabs">
					<button (click)="discoverTab == 'one' ? discoverTab = '' : discoverTab = 'one'" [ngClass]="{'active': discoverTab == 'one'}">
						<i class="far fa-ellipsis-h"></i>
					</button>
					<button (click)="discoverTab == 'two' ? discoverTab = '' : discoverTab = 'two'" [ngClass]="{'active': discoverTab == 'two'}">
						<i class="far fa-chart-area"></i>
					</button>
					<button (click)="discoverTab == 'three' ? discoverTab = '' : discoverTab = 'three'" [ngClass]="{'active': discoverTab == 'three'}">
						<i class="far fa-chart-bar"></i>
					</button>
					<button (click)="discoverTab == 'four' ? discoverTab = '' : discoverTab = 'four'" [ngClass]="{'active': discoverTab == 'four'}">
						<i class="far fa-map-marker"></i>
					</button>
				</div>
				<!--  -->
				<div class="v-tab-body">

					<div *ngIf="discoverTab == 'one'">
						<div>Testing</div>
						<h3>testing</h3>
						<p>Testing even more! I'm testing so much I can't believe it! lakjdkljfkljdflkjd ljskdfjskdfjlsjflkjdkfj </p>
					</div>

					<div *ngIf="discoverTab == 'two'">
						Tab Two
					</div>

					<div *ngIf="discoverTab == 'three'">
						Tab Three
					</div>

					<div *ngIf="discoverTab == 'four'">
						Tab Four
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Report Builder -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'reportBuilder' ? popout = '' : popout = 'reportBuilder'" [ngClass]="{'active': popout == 'reportBuilder'}">
			<span class="sb-text">Report Builder</span>
		</button>
		
		<!-- Report Builder window -->
		<div class="sidebar-popout full at-bottom" *ngIf="popout == 'reportBuilder'">
			<h3 class="sidebar-popout-header">Choose your Workflows</h3>
			<app-center-bottom-content></app-center-bottom-content>
		</div>
	</div>

	<!-- Map Options -->
	<div class="sidebar-group">
		<button class="sidebar-button">
			<span class="sb-text">Map Options</span>
		</button>
	</div>

</div>