<div class="sidebar-inner">


	<!-- Base Maps -->
	<div class="button-popout-group">
		<button class="toggle-popout-button" (click)="popout == 'map' ? popout = '' : popout = 'map'" [ngClass]="{'active': popout == 'map'}">
			<i class="far fa-map"></i>
		</button>

		<!-- Sidebar Popout window
			- These could be moved to separate components,
			It just needs to be a div with class popout-body within the button-popout-group div
	
			Add class "wide" to make it wider,
			Height will auto expand to fit content, and scroll if too tall
		-->
		<div class="popout-body short" *ngIf="popout == 'map'">
			<h3 class="popout-body-header">Base Maps</h3>
	
			<!-- Content must be within .popout-body-content to have overflow scroll -->
			<div class="popout-body-content">
				<!-- This is the content of the map button popout window.
				<br/>
				Show and hide the map content with a click on the button.toggle-popout-button
				<br/><br/><br/><br/><br/><br/><br/><br/>
				If you have too much content in the map popout, <br> It'll scroll. -->

				<div *ngFor="let item of baselayers" class="basemap-selector"> 
					<label class="basemap-option">
						<input type="radio" name="basemap" value="item[0]" (click)="SetBaselayer(item[0])">
						<img src="assets/images/{{item[1]}}"> 
						<span>{{item[0]}}</span>
					</label>
				</div>
			</div>
		</div>

	</div>

	<!-- Layers -->
	<div class="button-popout-group">

		<button class="toggle-popout-button" (click)="popout == 'layers' ? popout = '' : popout = 'layers'" [ngClass]="{'active': popout == 'layers'}">
				<i class="far fa-layer-group"></i>
		</button>

		<!-- Sidebar Popout window -->
		<!-- <div class="popout-body wide" *ngIf="popout == 'layers'"> -->
		<div class="popout-body" *ngIf="popout == 'layers'">
			<h3 class="popout-body-header">Map Layers</h3>
	
			<!-- Content must be within .popout-body-content to have overflow scroll -->
			<div class="popout-body-content">

				<!-- Section for layers that load automatically/not part of an active workflow  -->
				<div  *ngIf="overlayLayers.length" class="map-layers-group">
					<h4>Application Layers</h4>
					<div *ngFor="let overlay of overlayLayers">

						<div class="usa-checkbox">
							<input
							  class="usa-checkbox__input"
							  #overlayCheckbox type="checkbox" id="{{overlay.name}}" (change)="setOverlayLayer(overlay.name)" [checked]="overlay.visible" 
							[disabled]="overlay.layerOptions.minZoom > currentZoom"
							/>
							<label class="usa-checkbox__label" for="{{overlay.name}}">{{overlay.name}}</label>
						</div>
						
					</div>
				</div>

				<!-- Spacer between Application Layers and Active Wrokflow Layers -->
				<div>&nbsp;</div> 

				<!-- Section for layers that part of the active workflow  -->
				<div *ngIf="workflowLayers.length" class="map-layers-group">
					<h4>Active Workflow Layers</h4>
					<div *ngFor="let layer of workflowLayers">

						<div class="usa-checkbox">
							<input 
							class="usa-checkbox__input"
							type="checkbox" id="{{layer.name}}" (change)="updateActiveLayer(layer.name)" [checked]="layer.visible"
							[disabled]="layer.layerOptions.minZoom > currentZoom"
							/>
							<label class="usa-checkbox__label" for="{{layer.name}}">{{layer.name}}</label>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

	
	
	<!-- Dog -->
	<!-- <div class="button-popout-group">
		<button class="toggle-popout-button">
			<i class="far fa-dog"></i>
		</button>
	</div> -->

	<!-- Geolocate -->
	<div class="button-popout-group">
		<button id="geolocate" class="toggle-popout-button" (click)="zoomLocation()">
			<i class="far fa-crosshairs"></i>
		</button>
	</div>

	<!-- Geosearch -->
	<div class="button-popout-group">
		<button id="geosearch" class="toggle-popout-button" (click)="popout == 'geosearch' ? popout = '' : popout = 'geosearch'; geosearch();" [ngClass]="{'active': popout == 'geosearch'}">
			<i class="far fa-search"></i>
		</button>

		<!-- Sidebar Popout window
			- These could be moved to separate components,
			It just needs to be a div with class popout-body within the button-popout-group div
	
			Add class "wide" to make it wider,
			Height will auto expand to fit content, and scroll if too tall
		-->
		<div class="popout-body medium" *ngIf="popout == 'geosearch'">
			<h3 class="popout-body-header">Geosearch</h3>
	
			<!-- Content must be within .popout-body-content to have overflow scroll -->
			<div class="popout-body-content">
				<!-- This is the content of the map button popout window.
				<br/>
				Show and hide the map content with a click on the button.toggle-popout-button
				<br/><br/><br/><br/><br/><br/><br/><br/>
				If you have too much content in the map popout, <br> It'll scroll. -->

				<!-- Search box -->
				<div id="searchBox"></div>

			</div>
		</div>

	</div>

	<!-- Report Builder -->
	<div class="button-popout-group">
		<button class="toggle-popout-button" (click)="bottomPopout == 'reportBuilder' ? bottomPopout = '' : bottomPopout = 'reportBuilder'" [ngClass]="{'active': bottomPopout == 'reportBuilder'}">
			<span class="sb-text">Report Builder</span>
		</button>
		
		<!-- Report Builder window -->
		<div class="popout-body full at-bottom" *ngIf="bottomPopout == 'reportBuilder'">
			<h3 class="popout-body-header" *ngIf="!selectedWorkflow">Choose Your Workflow</h3>
			<h3 class="popout-body-header" *ngIf="selectedWorkflow">Build Your Report</h3>
			<app-center-bottom-content [selectedWorkflow]="selectedWorkflow"></app-center-bottom-content>
		</div>
	</div>


	<!-- Spacer - stretches to fill gap -->
	<div class="sidebar-spacer">&nbsp;</div>

	
	<!-- Map Options -->
	<!-- <div class="button-popout-group">
		<button class="toggle-popout-button" (click)="bottomPopout == 'mapOptions' ? bottomPopout = '' : bottomPopout = 'mapOptions'" [ngClass]="{'active': bottomPopout == 'mapOptions'}">
			<span class="sb-text">Map Options</span>
		</button>
		<div class="popout-body full at-bottom" *ngIf="bottomPopout == 'mapOptions'">
			<h3 class="popout-body-header">For Future Use</h3>	
			Things like adding a new layer or drawing a polygon on the map will go here		
		</div>
	</div> -->

	<!-- Discover -->
	<!-- <div class="button-popout-group">
		<button class="toggle-popout-button" (click)="bottomPopout == 'discover' ? bottomPopout = '' : bottomPopout = 'discover'" [ngClass]="{'active': bottomPopout== 'discover'}">
			<span class="sb-text">Discover</span>
		</button>
		<div class="popout-body full at-bottom" *ngIf="bottomPopout == 'discover'">
			<h3 class="popout-body-header">For Future Use</h3>	
			Link to other products		
		</div>
	</div> -->


</div>



