<div class="sidebar-inner">
	<!-- Base Maps -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'map' ? popout = '' : popout = 'map'" [ngClass]="{'active': popout == 'map'}">
			<i class="far fa-map"></i>
		</button>

		<!-- Sidebar Popout window
			- These could be moved to separate components,
			It just needs to be a div with class sidebar-popout within the sidebar-group div
	
			Add class "wide" to make it wider,
			Height will auto expand to fit content, and scroll if too tall
		-->
		<div class="sidebar-popout" *ngIf="popout == 'map'">
			<h3 class="sidebar-popout-header">Base Maps</h3>
	
			<!-- Content must be within .sidebar-popout-content to have overflow scroll -->
			<div class="sidebar-popout-content">
				<!-- This is the content of the map button popout window.
				<br/>
				Show and hide the map content with a click on the button.sidebar-button
				<br/><br/><br/><br/><br/><br/><br/><br/>
				If you have too much content in the map popout, <br> It'll scroll. -->

				<div *ngFor="let item of baselayers" class="basemap-selector"> 
					<label class="basemap-option">
						<input type="radio" name="basemap" value="item[0]" (click)="SetBaselayer(item[0])">
						<img src="assets/images/{{item[1]}}"> {{item[0]}}
					</label>
				</div>
			</div>
		</div>

	</div>

	<!-- Layers -->
	<div class="sidebar-group">

		<button class="sidebar-button" (click)="popoutLayers == 'layers' ? popoutLayers = '' : popoutLayers = 'layers'" [ngClass]="{'active': popoutLayers == 'layers'}">
			<i class="far fa-layer-group"></i>
		</button>

		<!-- Sidebar Popout window -->
		<!-- <div class="sidebar-popout wide" *ngIf="popout == 'layers'"> -->
		<div class="sidebar-popout" *ngIf="popoutLayers == 'layers'">
			<h3 class="sidebar-popout-header">Map Layers</h3>
	
			<!-- Content must be within .sidebar-popout-content to have overflow scroll -->
			<div class="sidebar-popout-content">
				<!-- Section for layers that load automatically/not part of an active workflow  -->
				<div>
					<h4>Base Layers</h4>
					<p>Gagestats layer to go here</p>
				</div>
				<!-- Section for layers that part of teh active workflow  -->
				<div *ngIf="workflowLayers.length">
					<h4>Active Workflow Layers</h4>
					<div *ngFor="let layer of workflowLayers">
						<input type="checkbox" name="activeWorkflowLayers" value="layer.name" (change)="updateActiveLayer(layer.name)" [checked]="true"> {{layer.name}}
					</div>
				</div>

			</div>
		</div>
	</div>

	
	
	<!-- Dog -->
	<!-- <div class="sidebar-group">
		<button class="sidebar-button">
			<i class="far fa-dog"></i>
		</button>
	</div> -->

	<!-- Geolocate -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="zoomLocation()">
			<i class="far fa-crosshairs"></i>
		</button>
	</div>

	<!-- Geosearch -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'geosearch' ? popout = '' : popout = 'geosearch'; geosearch();" [ngClass]="{'active': popout == 'geosearch'}">
			<i class="far fa-search"></i>
		</button>

		<!-- Sidebar Popout window
			- These could be moved to separate components,
			It just needs to be a div with class sidebar-popout within the sidebar-group div
	
			Add class "wide" to make it wider,
			Height will auto expand to fit content, and scroll if too tall
		-->
		<div class="sidebar-popout medium" *ngIf="popout == 'geosearch'">
			<h3 class="sidebar-popout-header">Geosearch</h3>
	
			<!-- Content must be within .sidebar-popout-content to have overflow scroll -->
			<div class="sidebar-popout-content">
				<!-- This is the content of the map button popout window.
				<br/>
				Show and hide the map content with a click on the button.sidebar-button
				<br/><br/><br/><br/><br/><br/><br/><br/>
				If you have too much content in the map popout, <br> It'll scroll. -->

				<!-- Search box -->
				<div id="searchBox"></div>

			</div>
		</div>

	</div>

	<!-- Spacer - stretches to fill gap -->
	<div class="sidebar-spacer"></div>

	<!-- Report Builder -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'reportBuilder' ? popout = '' : popout = 'reportBuilder'" [ngClass]="{'active': popout == 'reportBuilder'}">
			<span class="sb-text">Report Builder</span>
		</button>
		
		<!-- Report Builder window -->
		<div class="sidebar-popout full at-bottom" *ngIf="popout == 'reportBuilder'">
			<h3 class="sidebar-popout-header">Choose Your Workflows</h3>
			<app-center-bottom-content></app-center-bottom-content>
		</div>
	</div>

	<!-- Map Options -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'mapOptions' ? popout = '' : popout = 'mapOptions'" [ngClass]="{'active': popout == 'mapOptions'}">
			<span class="sb-text">Map Options</span>
		</button>

		<!-- Map Options window -->
		<div class="sidebar-popout full at-bottom" *ngIf="popout == 'mapOptions'">
			<h3 class="sidebar-popout-header">For Future Use</h3>	
			<!-- Things like adding a new layer or drawing a polygon on the map will go here -->		
		</div>
	</div>

	<!-- Discover -->
	<div class="sidebar-group">
		<button class="sidebar-button" (click)="popout == 'discover' ? popout = '' : popout = 'discover'" [ngClass]="{'active': popout == 'discover'}">
			<span class="sb-text">Discover</span>
		</button>
		
		<!-- Discover window -->
		<div class="sidebar-popout full at-bottom" *ngIf="popout == 'discover'">
			<h3 class="sidebar-popout-header">For Future Use</h3>	
			<!-- Link to other products -->		
		</div>
	</div>
</div>
