<!-- Workflow Steps/Walkthru -->


<div class="workflow-wrapper">
	<h2 class="mtop-md">{{workflow.title}}</h2>
	
	<form [formGroup]="workflowForm" (ngSubmit)="onContinue(workflowForm.value)" #data>
	
		<!-- USWDS Step Indicator -->
		<!-- <div class="usa-step-indicator usa-step-indicator--counters-sm" aria-label="progress" formArrayName="steps">
			<ol class="usa-step-indicator__segments">
	
				<li class="usa-step-indicator__segment usa-step-indicator__segment--complete" 
					*ngFor='let step of getSteps(workflowForm)| slice:0:stepsCompleted+1; let i = index'>
	
					<span class="usa-step-indicator__segment-label">
						Step {{i+1}}:
						<span class="usa-sr-only">completed</span>
					</span>
				</li>
	
			</ol>
		</div> -->
	
		<!-- Form -->
		<div formArrayName="steps" class="workflow-steps">
	
			<div *ngFor='let step of getSteps(workflowForm)| slice:0:stepsCompleted+1; let i = index' class="step" [ngClass]="{'completed': stepsCompleted > i}">
	
				<!-- Step number, title, description -->
				<div class="step-info">
					<span class="step-number">{{i+1}}</span>
					<span class="step-description">
						<b>{{step.value.label}}</b>
						<p>{{step.value.description}}</p>
					</span>
				</div>

				<!-- Step content -->
				<div formGroupName="{{i}}" class="step-body">
	
					<div formArrayName="options">
	
						<!-- Loop for each step -->
						<div
							*ngFor="let option of getOptions(step); let j = index" formGroupName="{{j}}">
							<!-- Radio Buttons -->
							<div class="workflow-radio-group" *ngIf="step.value.type === 'radio'">
								<input type="radio" id="workflowRadio{{j}}" formControlName="selected" [checked]="option.value.selected" (change)="onRadioChange(option.value, step.value)">
								<label class="mleft-xs" for="workflowRadio{{j}}" >{{option.value.text}}</label>
							</div>

							<!-- Checkboxes -->
							<div class="workflow-checkbox-group" *ngIf="step.value.type === 'checkbox'">
								<input type="checkbox" id="workflowCheckbox{{j}}" formControlName="selected" [checked]="option.value.selected" (change)="onCheckboxChange(option.value, step.value)">
								<label class="mleft-xs" for="workflowCheckbox{{j}}" >{{option.value.text}}</label>
							</div>
	
							<!-- Subscription -->
							<div *ngIf="step.value.type === 'subscription'">
								<input type="hidden" formControlName="selected" />
								<label class="step-body-instruction">
									{{option.value.text}}
								</label>
							</div>
	
							<!-- Text -->
							<div *ngIf="step.value.type === 'text'">
								<input type="text" class="usa-input" formControlName="text"/>
							</div>
						
						</div>
	
					</div>
	
				</div>
	
	
				<!-- Step actions -->
				<div class="step-actions">
					<div></div>
					<!-- Next Button -->
					<button (click)="nextStep(i); onContinue(workflowForm.value)" class="usa-button mtop-xs" [disabled]="stepsCompleted > i">Next</button>
				</div>
	
	
									
			</div>
	
			<!-- Finish Button -->
			<div class="step" *ngIf="finalStep">

				<div class="step-info">
					<span class="step-number green"><i class="fas fa-check"></i></span>
					<span class="step-description">
						<b>You've completed this {{workflow.title}} workflow</b>
						Click finish to continue.
					</span>
				</div>
				<div class="step-actions">
					<div></div>
					<button type="submit" class="usa-button mtop-xs" (click)="finishedWorkflow(workflowForm.value)">Finish</button>
				</div>
			</div>
		</div>

	
	</form>
	
	
	