// Import SCSS partials
@import 'variables.scss';
@import url('markers.scss');

/* You can add global styles to this file, and also import other style files */
html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}  



.sidebar-inner{
	display: flex;
	flex-direction: column;
	flex-grow: 3;
	height: 100%;
	box-sizing: border-box;
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);

	.sidebar-group{
		// position: relative;

		.sidebar-button{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 60px;
			height: 60px;
			text-align: center;
			font-size: 22px;
			color: var(--textLight);
			border: none;
			background-color: transparent;
			margin: 0;
			padding: 0;
			border-top: 1px solid rgba(0,0,0,0.1);
			position: relative;
			transition: 0.22s ease-in;

			i{
				margin: 0 auto;
				opacity: 1;
				width: 100%;
				text-align: center;
			}

			.sb-text{
				font-size: 12px;
				text-align: center;
				font-weight: 600;
				display: block;
				margin: 0 auto;
				letter-spacing: -0.3px;
			}

			&:last-child{
				border-bottom: 1px solid rgba(0,0,0,0.1);
			}
			&:after{
				content: '\f00d';
				font-family: var(--fontAwesome);
				width: 100%;
				text-align: center;
				opacity: 0;
				font-size: 30px;
				padding-top: 2px;
				box-sizing: border-box;
			}
			i,
			&:after{
				transform: rotate(0deg);
				transition: var(--transition);
				position: absolute;
			}


			&:hover{
				cursor: pointer;
				background-color: var(--greyLight);
				transition: 0.22s ease-in;
				color: var(--text);
			}

			&.active{
				background-color: var(--primary);
				color: var(--white);
				i{
					opacity: 0;
				}
				i,
				&:after{
					transform: rotate(180deg);
					transition: var(--transition);
				}

				.sb-text{
					display: none;
				}

				&:after{
					opacity: 1;
				}

				&:hover{
					background-color: var(--primaryDark);
				}
			}

		}
	}
}

// Spacer
.sidebar-spacer{
	flex-grow: 3;
	display: block;
}

// Sidebar popout
.sidebar-popout{
	display: block;
	width: 80%;
	max-width: 300px;
	min-width: 300px;
	position: fixed;
	top: 53px;
	// left: 103%;
	left: 65px;
	box-shadow: var(--shadow);
	border-radius: 4px;
	// margin-left: 5px;
	box-sizing: border-box;
	min-height: 120px;
	font-size: 12px;
	z-index: 2000;
	max-height: 80vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	color: var(--text);
	background-color: var(--background);
	border: 1px solid var(--borderLight);

	&.medium{
		max-width: 600px;
		min-width: 335px;
	}

	&.wide{
		max-width: 600px;
		min-width: 600px;
	}

	&.full{
		left: 61px;
		min-height: 200px;
		max-width: calc(100vw - 120px);
		min-width: calc(100vw - 120px);
	}
	&.at-bottom{
		border-radius: 0px;
		top: unset;
		bottom: 0px;
	}

	.sidebar-popout-header{
		padding: 15px 10px;
		margin: 0;
		box-shadow: var(--shadowLight);
	}

	// Content, scrollable
	.sidebar-popout-content{
		box-sizing: border-box;
		padding: 15px;
		flex-grow: 3;
		overflow: auto;

	}
}

// Right sidebar popout on left
app-sidebar-right{

	.sidebar-popout{
		position: absolute;
		right: 65px;
		left: unset;
	}

}

// Moves top popover down a bit so it doesn't align with top bar
// .sidebar-inner .sidebar-group:first-child .sidebar-popout{
	// margin-top: 10px;
// }

// Vertical tab display
.vertical-tabs{
	display: flex;

	.v-tabs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		padding: 10px 5px 10px 15px;

		button{
			background-color: transparent;
			border: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 22px;
			margin: 3px auto;
			padding: 0 0;
			height: 40px;
			width: 40px;
			background-color: var(--greyLight);
			border-radius: 50%;

			i{
				display: block;
				text-align: center;
				width: 100%;
			}

			&:hover{
				background-color: var(--grey);
				transition: var(--transition);
				cursor: pointer;

				i{
					color: var(--primary);
				}
			}

			&.active{
				border-bottom-right-radius: 0;
				background-color: var(--primary);

				i{
					color: var(--white);
				}
			}
		}
	}

	.v-tab-body{
		flex-grow: 3;
		box-sizing: border-box;
		padding: 15px;
	}
}

#mapLoader{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 5000;
	background-color: rgba(0,0,30,0.6);
	background-image: url('https://wim.usgs.gov/website-assets/branding/usgsanimated.svg');
	display: block !important;
	background-repeat: no-repeat;
	background-size: 120px auto;
	background-position: center center;

	&:after {
		content: 'Loading...';
		position: absolute;
		top: 64%;
		font-size: 22px;
		color: white;
		width: 100%;
		text-align: center;
		z-index: 5001;
	}
}
