<div class="floating-buttons">

	<!-- Report -->
	<div class="button-popout-group">
		<button class="toggle-popout-button" (click)="popout == 'report' ? popout = '' : popout = 'report'" [ngClass]="{'active': popout == 'report'}">
			<i class="far fa-file-chart-line"></i>
		</button>

		<div class="popout-body short" *ngIf="popout == 'report'">
			<h3 class="popout-body-header">Report Overview</h3>
	
			<!-- Content must be within .popout-body-content to have overflow scroll -->
			<div class="popout-body-content">

				<app-report></app-report>

			</div>
		</div>
	</div>

</div>
